.products__list_grids{
    border: none;
    overflow: auto;
    @include border-radius(0px);
    margin-left: -11px;
    background: transparent;
    padding-top: 2px;

    .products__item{
        @include inlineblock();
        width: 235px;
        border-top: 0;
        text-align: center;
        @include border-radius(5px);
        border: 1px solid $grey;
        margin-left: 11px;
        margin-bottom: 26px;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px 1px;
            transition: 0.2s;
            cursor: pointer;
        }
    }

    .products__item-inner{
        padding: 17px 9px;
    }

    .products__slideshow{
        width: auto;
        text-align: center;
        float: none;
    }

    .products__slideshow-display{
        @include inlineblock();
    }

    .products__slideshow-item{
        @include inlineblock();
        float: none;
    }

    .products__desc{
        width: auto;
        float: none;
        margin-left: 0;
    }

    .products__desc-title{
        font-size: 14px;
    }
    .products__info{
        border: 0 none;
        padding-left: 0;
        margin-bottom: 5px;

    }

    .products__info-buttom{
        position: static;
        @include clearfix;
        padding: 0 6px;
    }
  
    .products__article{
        display: none;
    }
    
    .productcs__desc-options{
        margin-bottom: 3px;
    }

    .products__raiting{
        margin-bottom: 10px;
    }

    .products__left{
        float: none;
    }

    .products__right{
        position: static;
        width: auto;
        text-align: center;
    }

    .products__buy-btn{
        margin-bottom: 0;
        float: right;
    }

    .products__availability{
        float: left;
    }

    .productcs__option-item{
        @include clearfix();
        color: $black;
        font-size: 14px;
        display: block;
    }

    .productcs__option-key{
        display: block;
        float: left;
        width: 50%;
        text-align: left;
    }

    .productcs__option-value{
        display: block;
        float: right;
        width: 50%;
        text-align: right;
    }

    .productcs__option-item_colored{
        background: #e7e7e7;
    }
}



