$select-map: sprite-map('icons/select/*.png', $spasing: 70px);

.select2-container{
    width: 144px !important; 

    *{
        outline: none !important;
    }

    .select2-selection__arrow{
        b{
            @include get-sprite($select-map, bottom);
            height: 9px !important; 
            width: 13px !important; 
            border: 0 none !important;
            margin: auto !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
        }
    }

    &.select2-container--open{
        b{
            @include get-sprite($select-map, top);
        }
    }

    .select2-selection__rendered{
        font-size: 14px; 
        color: #7f7f7f;
        font-family: 'OpenSans-Light';
        line-height: 24px !important;
        padding-left: 13px !important;
    }

    .select2-dropdown{
        margin-top: 2px;
        bottom: 0 none;
        @include box-shadow(0 0 5px 0 rgba(134, 134, 134, .75));
        @include border-radius (5px); 
        background: #ffffff; 

        .select2-results__option{
            background: #ffffff; 
            font-size: 14px;
            line-height: 16px;
            font-family: 'OpenSans-Light';
            color: #7f7f7f;

            &.select2-results__option--highlighted{
                color: #303030 !important;
                font-family: 'OpenSans-Semi';
            }
        }
    }
}